@charset "utf-8";

@import url(../css/reset.css);

/* ******** 레이아웃 구성시작 ******** */

/* left */
.cdyid {
  width: 100%;
  display: table;
  table-layout: fixed;
  margin: 0 auto;
}
.cdyid::after {
  content: '';
  position: absolute;
  top: 0;
  height: 100%;
  width: 75%;
  z-index: -10;
}

.wrap {
  position: absolute;
  left: 7%;
}

.cdyid #header {
  width: 450px;
  height: 100%;
  padding: 50px;
  display: table-cell;
  background-color: #fff;
  box-shadow: 5px 1px 8px 8px rgb(0 0 0 / 6%);
  vertical-align: top;
  z-index: 1;
  margin-right: 100px;
}

/* right */
#r-wrap {
  width: 1200px;
  height: 1200px;
  padding-left: 70px 0 70px 20px;
}


/* hr */
hr {
  margin-top: 10px;
}
 
/* ******** 개별영역 선언시작 ******** */

/* *** Header Start *** */

/* left-box */
#header .left-box {
  position: inherit;
  z-index: 100;
}
/* lp_area */
#header .left-box .lp_area {
  height: 400px;
  text-align: center;
  padding: 20px 12px 12px 12px;
} 
#header .left-box .lp_area .lp_inner{
  height: auto;
} 
#header .left-box .lp_area .lp_inner img{
  width: 200px;
  height: 200px;
  margin-bottom: 36px;
}
#header .left-box .lp_area .lp_inner li:first-child {
  margin-bottom: 20px;
}
#header .left-box .lp_area .lp_inner li:last-child {
  margin-bottom: 0;
}

/* Button*/
#header .h_btn {
  width: 200px;
  height: 40px;
  background-color: #fff;
  border: 1px solid #e2e2e2;
  border-radius: 10px;
  font: 300 1.5rem/40px 'Nanum Gothic', sans-serif;
}
#header .h_btn:hover {
  background-color: #722EFF;
  color: #fff;
}

/* mp_area */
#mp_area {
  width: 100%;
  height: 250px;
  padding: 20px 10px 0;
}
#mp_area li {
  width: 300px;
  height: 42px;
  margin-bottom: 21px;
}
#mp_area li a {
  display: block;
  width: 100%;
  height: 100%;
  font: bold 1.7rem/42px 'Nanum Gothic', sans-serif;

}
#mp_area li .menu_text::after {
  content:'';
  width: 100px;
  height: 5px;
  background-color: #722eff;
  position: absolute;
  left: 60px;
  border-radius: 30px;
}

#mp_area li a::after:nth-child(1) {
  bottom: 30px;
}


/* Logo */
#header h1 {
  width: 250px;
  height: 80px;
  background-image: url(../image/headerlogo_h2.png);
  margin: 150px auto;

}

/* *** right-box Start *** */

#r-wrap {
  width: 850px;
  height: 1020px;
  padding: 60px 60px 0;
}
#r-wrap h1 {
  font: 700 2.8rem 'Nanum Gothic', sans-serif;
  margin-bottom: 64px;
}
#r-wrap .r-box {
  width: 690px;
  height: 920px;
}
#r-wrap .r-box .r-item {
  width: 690px;
  height: 230px;
  position: relative;
  margin-bottom: 48px;
}
#r-wrap .r-box .r-item .green_box {
  width: 690px;
  height: 230px;
  padding: 16px 17px 0;
  background-color: #fff;
  border: 2px solid #722EFF;
  box-shadow: 2px 2px 14px 0 rgb(0 164 73 / 8%);
  border-radius: 10px;
}
#r-wrap .r-box .r-item .green_box>div {
  width: 655px;
  height: 200px;
}
#r-wrap .r-box .r-item .green_box>div .myinfo{
  width: 655px;
  height: 200px;
  padding: 20px;
  position: relative;
}
#r-wrap .r-box .r-item .green_box>div .my-box {
  width: 100px;
  height: 150px;
  float: left;
}
#r-wrap .r-box .r-item .green_box>div .my-box img {
  width: 100px;
  height: 100px;
}
#r-wrap .r-box .r-item .green_box>div .my-box span {
  display: block;
  width: 100%;
  height: 50px;
  font: 600 1.5rem/50px 'Nanum Gothic', sans-serif;
  text-align: center;
}
#r-wrap .r-box .r-item .green_box>div .my-button {
  width: 90px;
  height: 45px;
  float: right;
  border-radius: 20px;
  background-color: #fff;
  border: 2px solid #722EFF;
  margin: 42px 0;
  font: 400 1.6rem/45px 'Nanum Gothic', sans-serif;
}

#r-wrap .r-box .r-item .green_box>div .my-button:hover {
  background-color: #722EFF;
  color: #fff;
  border-right: none;
}

.r-box2, .r-box3, .r-box4 {
  width: 690px;
  height: 80px;
  margin-bottom: 48px;
  border: 1.5px solid #722EFF;
  border-radius: 10px;
  position: relative;
  padding: 0 30px;
}

.r-box2 .nameid, .r-box .emailid, .r-box4 .passwordid {
  width: 100px;
  height: 80px;
  font: 600 1.6rem/80px 'Nanum Gothic', sans-serif;
  float: left;
}

.r-box2 .name, .r-box3 .email, .r-box4 .password {
  width: 400px;
  height: 80px;
  font: 600 1.6rem/80px 'Nanum Gothic', sans-serif;
  float: left;
  text-align: center;
}

button {
  display: block;
  width: 50px;
  height: 30px;
  float: right;
  margin: 25px 0;
  background-color: #fff;
  border: 1px solid #722EFF;
  border-radius: 20px;
}

button:hover {
  background-color: #722EFF;
  color: #fff;
}


