@charset "utf-8";

body {
  color: #333;
}
  h1, h2 {
    color: #333;
  }
  h2 {
    font-size: 21px;
  }
/* ******************* 레이아웃 구성시작 **************** */
 #wrap {
   height: auto;
 }
  #header {
    width: 1200px;
    height: 80px;
    margin: 30px auto;
    position: relative;

  }
  #mainview { 
    width: 100%;
    height: 500px;
    margin: 63px auto;
  }

  #contents {
    width: 1200px;
    height: 600px;
    margin: 0 auto 30px ; 
    position: relative;

  }
  /* pen */

  #pen {
    position: fixed;
    right: 10%; top: 50%;
    padding: 10px;
    font-size: 20px;
    border: 3px solid #333;
    border-radius: 50%;
    border: 2px solid #FFB900;
  }
  
  #pen .fa-pencil {
    color: #722EFF;
  }
 
 /* ******************* 개별영역 선언시작 **************** */

/* header */
 #header h1 {
   width: 500px;
   height: 80px;
   background-image: url(../image/headerlogo_h1.png);
   float: left;
}
  #header .gnb {
    width: 150px;
    height: 80px;
    float: right;
  }
  #header .gnb img {
    float: left;
    margin: 20px 0 0 10px;
  }
  #header .gnb p{
    float: right;
    margin: 35px 0; 
    font: 700 15px 'Nanum Gothic', sans-serif;
  }
  #header .gnb a {
    cursor: pointer;
  }

/* Mainview */

#mainview img {
  width: 100%;
  height: 100%;
  background: no-repeat;
}

/* Contents*/

#contents h1 {
  font: bold 3rem/21px 'Nanum Gothic', sans-serif;
  margin-bottom: 42px;
}
#contents .part {
  height: 36px;
  margin-bottom: 36px;

}
#contents .part li {
  float: left;
  height: 36px;
  margin-right: 20px;
}
#contents .part li a {
  font: 500 1.8rem/36px 'Nanum Gothic', sans-serif;
}
#contents .part li a:hover {
  color: #c00;
}

/*profile*/


  #contents .c-box, .d-box, .v-box {
    height: 150px;
    position:relative;
  }
  #contents .c-box li, .d-box li, .v-box li{
    float: left;
    text-align: center;
    margin: 20px; 
  }
  #contents .c-box li img, .d-box li img, .v-box li img{
   width: 50px;
   height: 50px;
  }

/* Project */

.swiper-wrap {
  width: 1200px;
  height: 450px;
  margin: 100px auto;
  position: relative;
}

.swiper-wrap h1 {
  display: block;
  width: 100%;
  height: 21px;
  font: bold 3rem/21px 'Nanum Gothic', sans-serif;
  margin-bottom: 36px;

}

.swiper-wrap .swiper-container {
  width: 1000px;
  height: 350px;
  overflow: hidden;
  margin: 36px auto;
}

/* Swipper Pagination */
/* .swiper-wrap .swiper-pagination{ bottom: 30px; } */

/* Swiper Reset */
.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: rgb(6, 245, 125);



/* Center slide text vertically */
display: -webkit-box;
display: -ms-flexbox;
display: -webkit-flex;
display: flex;
-webkit-box-pack: center;
-ms-flex-pack: center;
-webkit-justify-content: center;
justify-content: center;
-webkit-box-align: center;
-ms-flex-align: center;
-webkit-align-items: center;
align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Controls */
.swiper-button-prev,
.swiper-button-next{
  display: block;
  width: 80px;
  height: 80px;
  font-size: 70px;
  text-align: center;
  line-height: 80px;
  position: absolute; top: 80%;
  margin-top: -50px;
}
#prev_btn{left: 0;}
#next_btn{right: 0;}



/* Media Query Area Start */
@media screen and (max-width: 959px){
  .swiper-wrap{ width: 80%; }
  .swiper-wrap .swiper{ width: 80%; margin: auto; }
}

/*Partners & Support*/

#ps {
  width: 1200px;
  height: 300px;
  margin: auto;
  margin-bottom: 36px;
  padding: 0 24px;
}
#ps h2 {
  height: 24px;
  font: 500 36px/24px 'Roboto', sans-serif;
  text-align: center;
  margin: 24px;
}

#ps li>a {
  display: block;
  margin-top: 24px;
}

/* Footer */

#footer {
  height: 250px;
  margin: auto;
  position: relative;
  background-color: #e6e6e6;
}

#footer .f_box {
  width: 100%;
  height: 250px;
  padding: 30px 180px;

}
#footer h2{
  width: 300px;
  height: 80px;
  background-image: url(../image/headerlogo_h2.png);
  margin: 60px auto;
  float: left;
}

#footer .f-group{
  width: 600px;
  height: 150px;
  float: right;
}
#footer .f-group>ul li{
  display: flex;
  justify-content: space-between;
  width: 600px;
  margin-top: 45px;
}
#footer .f-group li p{
  font: bold 18px/1.5  'Nanum Gothic', sans-serif;
}
#footer .f-group li img{
  margin: 0;
}

/* popup CSS */
#popup1 {
  width: 500px;
  height: 500px;
  border: 1px solid gray;
  border-radius: 10px;
  background-color: #fff;
  z-index: 100;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -250px;
  margin-top: -250px;
  display: none;
  text-align: center;
  line-height: 450px;
}
  #popup1 .p-header {
    width: 100%;
    height: 15%;
    position: relative;
  }
    #popup1 .p-header img {
      float: left;
      margin: 5px;
      cursor: pointer;
    }
    #popup1 .p-header .closebtn {
    float: right;
    margin: 10px 10px;
    font-size: 30px;
    border: none;
    cursor: pointer;
  } 
  #popup1 .p-mid {
    width: 100%;
    height: 70%;
    clear: both;
    background-color: #e2e2e2;
  }
  #popup1 .p-footer {
    width: 100%;
    height: 15%;
    padding: 15px 0;
  }
    #popup1 .p-footer #btn {
      display: block;
      width: 90px;
      height: 30px;
      border: 1px solid #722EFF;
      border-radius: 10px;
      margin: 5px auto;
      font: 600 1.6rem/30px 'Nanum Gothic', sans-serif;
      color: #722EFF;
      background-color: #fff;
      cursor: pointer;
    }
    #popup1 .p-footer #btn:hover {
      color: #fff;
      background-color: #722EFF;
      cursor: pointer;
    }





