@charset "utf-8";

/* Web Font Settings 
  1. font-family: 'Roboto', sans-serif;
  2. font-family: 'Open Sans', sans-serif;
  3. font-family: 'Lato', sans-serif;
  4. font-family: 'Nanum Gothic', sans-serif;
  5. font-family: 'Noto Sans KR', sans-serif;  
*/
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&family=Nanum+Gothic:wght@400;700;800&family=Noto+Sans+KR:wght@100;300;400;500;700;900&family=Open+Sans:wght@300;400;500;600;700;800&family=Roboto:wght@100;300;400;500;700;900&display=swap');

/* ******************* 레이아웃 구성시작 **************** */

*{ margin: 0; padding: 0; box-sizing: border-box; }
  
html, body{ width: 100%; height: 100%; }

ul, ol{ list-style: none; }
a{ color: #000; text-decoration: none; }
 
/* ******************* 공통영역 선언시작 **************** */
#wrap {

  position: absolute; left: 50%; top: 50%;
    
  -webkit-transform: translate(-50%,-50%);
  -moz-transform: translate(-50%,-50%);
  -o-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
  }

#header {
  width: 1200px; 
  height: 100px;
  margin: 48px auto 63px;
}
 
 
/* ******************* 개별영역 선언시작 **************** */
#header h1 {
  width: 500px;
  height: 80px;
  float: left;
}

#header .gnb {
  width: 100px;
  height: 80px;
  float: right;
  text-align: center;
}
#header .gnb img {
  margin-top: 15px;
}

  #wrap h1 {
      text-align: center;
      margin-bottom: 35px;
  }

  .form a {
    width: 100%;
  }
 
    input[type=button] {
      background-color: #722EFF;
      margin-top: 36px;
      width: 100%;
      padding: 10px;
      border: 0px;
      border-radius: 20px;
      color: white;
      font: bold 1.4rem/24px 'Nanum Gothic', sans-serif;
      cursor: pointer;
    }